PRGNAM="eightyone"
VERSION="_version_"
HOMEPAGE="https://sourceforge.net/projects/eightyone-sinclair-emulator/"
DOWNLOAD="https://sourceforge.net/projects/eightyone-sinclair-emulator/files/EightyOne%20V_version_.zip"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="wine"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
