PRGNAM="xpad"
VERSION="_version_"
HOMEPAGE="https://launchpad.net/xpad"
DOWNLOAD="https://launchpad.net/xpad/trunk/_version_/+download/xpad-_version_.tar.bz2"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
