PRGNAM="smoffice2021"
VERSION="2021__version_"
HOMEPAGE="https://www.softmaker.com/en/softmaker-office-linux"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://www.softmaker.net/down/softmaker-office-2021-_version_-amd64.tgz"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
