PRGNAM="python2-prefixed"
VERSION="_version_"
HOMEPAGE="https://github.com/Rockhopper-Technologies/prefixed"
DOWNLOAD="https://github.com/Rockhopper-Technologies/prefixed/archive/_version_/prefixed-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
