PRGNAM="free42"
VERSION="_version_"
HOMEPAGE="http://thomasokken.com/free42/index.html"
DOWNLOAD="https://codeberg.org/thomasokken/free42/archive/v_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
