PRGNAM="MuseScore"
VERSION="_version_"
HOMEPAGE="https://github.com/musescore/MuseScore"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/musescore/MuseScore/archive/v_version_/MuseScore-_version_.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES="MuseScore-Libraries"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
