PRGNAM="uv"
VERSION="_version_"
HOMEPAGE="https://github.com/astral-sh/uv"
DOWNLOAD="https://github.com/astral-sh/uv/releases/download/_version_/uv-i686-unknown-linux-gnu.tar.gz"
MD5SUM="_md532_"
DOWNLOAD_x86_64="https://github.com/astral-sh/uv/releases/download/_version_/uv-x86_64-unknown-linux-gnu.tar.gz"
MD5SUM_x86_64="_md564_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
