PRGNAM="partclone"
VERSION="_version_"
HOMEPAGE="https://github.com/Thomas-Tsai/partclone/tags"
DOWNLOAD="https://github.com/Thomas-Tsai/partclone/archive/_version_/partclone-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="reiser4progs"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
