PRGNAM="oolite"
VERSION="_version_"
HOMEPAGE="http://www.oolite.org/"
DOWNLOAD="https://github.com/OoliteProject/oolite/releases/download/_version_/oolite-source-_version_.tar.bz2"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="gnustep-make gnustep-base"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
