[Desktop Entry]
Name=ZOOM Edit&Share
GenericName=ZOOM Edit&Share
Exec=zoom-edit-n-share
Icon=zoom-edit-n-share
Terminal=false
Type=Application
Categories=AudioVideo;
StartupNotify=false
