PRGNAM="plug"
VERSION="_version_"
HOMEPAGE="https://github.com/offa/plug"
DOWNLOAD="https://github.com/offa/plug/archive/v_version_/plug-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
