PRGNAM="plug"
VERSION="_version_"
HOMEPAGE="https://github.com/offa/plug"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/offa/plug/archive/v_version_/plug-_version_.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES="qt6"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
