PRGNAM="FreeFileSync"
VERSION="_version_"
HOMEPAGE="https://freefilesync.org/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://raw.githubusercontent.com/antonioleal/myslackbuilds/main/system/FreeFileSync/_file64_"
MD5SUM_x86_64="_md564_"
REQUIRES="p7zip"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
