PRGNAM="FreeFileSync"
VERSION="${_version_}"
HOMEPAGE="https://freefilesync.org/"
DOWNLOAD="https://raw.githubusercontent.com/antonioleal/myslackbuilds/main/system/FreeFileSync/${_file_}"
MD5SUM="${_md5_}"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="p7zip"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
