PRGNAM="zutty"
VERSION="_version_"
HOMEPAGE="https://tomscii.sig7.se/zutty/"
DOWNLOAD="https://git.hq.sig7.se/zutty.git/snapshot/_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
