PRGNAM="ventoy"
VERSION="_version_"
HOMEPAGE="https://www.ventoy.net"
DOWNLOAD="https://github.com/ventoy/Ventoy/releases/download/v_version_/ventoy-_version_-linux.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
