PRGNAM="helium-browser"
VERSION="_version_"
HOMEPAGE="https://helium.computer/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/imputnet/helium-linux/releases/download/_version_/helium-bin__version_-1_amd64.deb"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
