PRGNAM="kForth-64"
VERSION="_version_"
HOMEPAGE="https://github.com/mynenik/kForth-64"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/mynenik/kForth-64/archive/refs/tags/v_version_/kForth-64-_version_.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES="patchutils"
MAINTAINER="Antonio Leal"
EMAIL="antonio.leal@yahoo.com"
