PRGNAM="kForth-64"
VERSION="_version_"
HOMEPAGE="https://ccreweb.org/software/kforth"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://ccreweb.org/software/kforth/Downloads/release/kForth-64-_version_.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES="patchutils"
MAINTAINER="Antonio Leal"
EMAIL="antonio.leal@yahoo.com"
