PRGNAM="xapp-symbolic-icons"
VERSION="_version_"
HOMEPAGE="https://github.com/xapp-project/xapp-symbolic-icons"
DOWNLOAD="https://github.com/xapp-project/xapp-symbolic-icons/archive/_version_/xapp-symbolic-icons-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
