PRGNAM="smartsvn"
VERSION="_version_"
HOMEPAGE="https://www.smartsvn.com/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://downloads.smartsvn.com/downloads/smartsvn/smartsvn-linux-_fileversion_.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
