PRGNAM="xapp"
VERSION="_version_"
HOMEPAGE="https://github.com/linuxmint/xapp"
DOWNLOAD="https://github.com/linuxmint/xapp/archive/_version_/xapp-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="libgnomekbd"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
