PRGNAM="lazarus"
VERSION="_version_"
HOMEPAGE="http://www.lazarus.freepascal.org/"
DOWNLOAD="http://downloads.sourceforge.net/lazarus/lazarus-_version_-0.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="fpc"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
