PRGNAM="XiMpLe"
VERSION="_version_"
HOMEPAGE="http://www.ximple.cz"
DOWNLOAD="https://www.ximple.cz/files.net4/XiMpLe(32bit).exe \
          http://www.ximple.cz/files/XiMpLe.pdf"
MD5SUM="_md51_ \
        _md53_"
DOWNLOAD_x86_64="https://www.ximple.cz/files.net4/XiMpLe.exe \
                 http://www.ximple.cz/files/XiMpLe.pdf"
MD5SUM_x86_64="_md52_ \
               _md53_"
REQUIRES="wine"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
