PRGNAM="pageEdit"
VERSION="_version_"
HOMEPAGE="https://sigil-ebook.com/pageedit/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/Sigil-Ebook/PageEdit/archive/_version_/PageEdit-_version_.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES="snappy md4c libminizip qt6"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
