PRGNAM="electron-bin"
VERSION="_version_"
HOMEPAGE="https://www.electronjs.org/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/electron/electron/releases/download/v_version_/electron-v_version_-linux-x64.zip"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
