PRGNAM="Ipopt"
VERSION="_version_"
HOMEPAGE="https://github.com/coin-or/Ipopt"
DOWNLOAD="https://github.com/coin-or/Ipopt/archive/releases/_version_/Ipopt-releases-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="lapack"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
