PRGNAM="kForth-32"
VERSION="_version_"
HOMEPAGE="https://github.com/mynenik/kForth-32"
DOWNLOAD="https://github.com/mynenik/kForth-32/archive/refs/tags/v_version_/kForth-32-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64="UNSUPPORTED"
MD5SUM_x86_64=""
REQUIRES="patchutils"
MAINTAINER="Antonio Leal"
EMAIL="antonio.leal@yahoo.com"
