PRGNAM="gn"
VERSION="_version_"
HOMEPAGE="https://gn.googlesource.com/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://chrome-infra-packages.appspot.com/dl/gn/gn/linux-amd64/+/_tarball_"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
