PRGNAM="atari_8bit_utils"
VERSION="_fullversion_"
HOMEPAGE="https://github.com/pcrow/atari_8bit_utils"
DOWNLOAD="https://github.com/pcrow/atari_8bit_utils/archive/_version_/atari_8bit_utils-_commit_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
