PRGNAM="muse-sounds-manager"
VERSION="_version_"
HOMEPAGE="https://musescore.org/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://muse-cdn.com/Muse_Sounds_Manager_x64.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
