PRGNAM="page"
VERSION="_version_"
HOMEPAGE="https://sourceforge.net/projects/page/"
DOWNLOAD="https://sourceforge.net/projects/page/files/page/_version_/page-_version_.tgz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
