PRGNAM="swege"
VERSION="_version_"
HOMEPAGE="https://github.com/sakhmatd/swege"
DOWNLOAD="https://github.com/sakhmatd/swege/archive/_version_/swege-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="discount"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
