PRGNAM="simh-classic"
VERSION="_version_"
HOMEPAGE="http://simh.trailing-edge.com/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="http://simh.trailing-edge.com/sources/_basename_.zip"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
