PRGNAM="sigil"
VERSION="_version_"
HOMEPAGE="https://sigil-ebook.com/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/Sigil-Ebook/Sigil/archive/_version_/Sigil-_version_.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES="python2-lxml python3-lxml qt6"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
