PRGNAM="timeshift"
VERSION="_version_"
HOMEPAGE="https://github.com/linuxmint/timeshift"
DOWNLOAD="https://github.com/linuxmint/timeshift/archive/_version_/timeshift-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="gksu xapp"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
