PRGNAM="clamtk"
VERSION="_version_"
HOMEPAGE="https://github.com/dave-theunsub/clamtk"
DOWNLOAD="https://github.com/dave-theunsub/clamtk/archive/v_version_/clamtk-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="perl-JSON perl-LWP-Protocol-https perl-Text-CSV perl-Gtk3 clamav zenity"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
