PRGNAM="eisl"
VERSION="_version_"
HOMEPAGE="https://github.com/sasagawa888/eisl"
DOWNLOAD="https://github.com/sasagawa888/eisl/archive/v_version_/eisl-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
