PRGNAM="python3-odfdo"
VERSION="_version_"
HOMEPAGE="https://github.com/jdum/odfdo"
DOWNLOAD="_url64_"
MD5SUM="_md564_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="python3-uv"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
