PRGNAM="gitnuro"
VERSION="_version_"
HOMEPAGE="https://gitnuro.com/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/JetpackDuba/Gitnuro/releases/download/v_version_/Gitnuro-linux-x86_64-_version_.jar"
MD5SUM_x86_64="_md5_"
REQUIRES="zulu-openjdk21"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
