PRGNAM="brave-origin-the-latest"
VERSION="_version_"
HOMEPAGE="https://github.com/antonioleal/brave-origin-the-latest"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/antonioleal/brave-origin-the-latest/archive/v_version_/brave-origin-the-latest-_version_.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES="gksu"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
