[Desktop Entry]
Name=CanAce
Comment=Jupiter Ace Emulation
Exec=canace
Icon=CanAce
StartupNotify=false
Terminal=true
Type=Application
Categories=System;Emulator;
