PRGNAM="python3-uv"
VERSION="_version_"
HOMEPAGE="https://github.com/astral-sh/uv"
DOWNLOAD="_url32_"
MD5SUM="_md532_"
DOWNLOAD_x86_64="_url64_"
MD5SUM_x86_64="_md564_"
REQUIRES="python3-lxml python3-installer"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
