PRGNAM="abdownloadmanager-bin"
VERSION="_version_"
HOMEPAGE="https://abdownloadmanager.com/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/amir1376/ab-download-manager/releases/download/v_version_/ABDownloadManager__version__linux_x64.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
