PRGNAM="ClamAV-GUI"
VERSION="_version_"
HOMEPAGE="https://github.com/wusel1007/clamav-gui"
DOWNLOAD="https://github.com/wusel1007/clamav-gui/archive/v_version_/clamav-gui-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="clamav"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
