PRGNAM="pam_usb"
VERSION="_version_"
HOMEPAGE="https://github.com/mcdope/pam_usb"
DOWNLOAD="https://github.com/mcdope/pam_usb/archive/_version_/pam_usb-_version_.zip"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
