PRGNAM="limine"
VERSION="_version_"
HOMEPAGE="https://limine-bootloader.org/"
DOWNLOAD="https://codeberg.org/Limine/Limine/releases/download/v_version_/limine-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
