PRGNAM="es40"
VERSION="_version_"
HOMEPAGE="https://github.com/ES40-Emu/es40"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/ES40-Emu/es40/archive/v_version_/es40-_version_.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES="SDL3 cmake-opt"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
