PRGNAM="opera-ffmpeg-codecs"
VERSION="_version_"
HOMEPAGE="https://github.com/iteufel/nwjs-ffmpeg-prebuilt"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/nwjs-ffmpeg-prebuilt/nwjs-ffmpeg-prebuilt/releases/download/_version_/_version_-linux-x64.zip"
MD5SUM_x86_64="_md5_"
REQUIRES="opera"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
