PRGNAM="python3-gmpy2"
VERSION="_version_"
HOMEPAGE="https://github.com/gmpy2/gmpy2"
DOWNLOAD="https://github.com/gmpy2/gmpy2/releases/download/v_version_/gmpy2-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="python3-setuptools-opt"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
