PRGNAM="python3-zstandard"
VERSION="_version_"
HOMEPAGE="https://github.com/rspeer/zstandard"
DOWNLOAD="https://github.com/indygreg/python-zstandard/releases/download/_version_/zstandard-_version_-cp39-cp39-manylinux2010_i686.manylinux2014_i686.manylinux_2_12_i686.manylinux_2_17_i686.whl"
MD5SUM="_md532_"
DOWNLOAD_x86_64="https://github.com/indygreg/python-zstandard/releases/download/_version_/zstandard-_version_-cp39-cp39-manylinux2014_x86_64.manylinux_2_17_x86_64.whl"
MD5SUM_x86_64="_md564_"
REQUIRES="python3-installer"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
