PRGNAM="a68g"
VERSION="_version_"
HOMEPAGE="https://jmvdveer.home.xs4all.nl"
DOWNLOAD="https://jmvdveer.home.xs4all.nl/algol68g-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
