PRGNAM="tuxguitar"
VERSION="_version_"
HOMEPAGE="https://www.tuxguitar.app/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/helge17/tuxguitar/releases/download/_version_/tuxguitar-_version_-linux-swt-amd64.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES="zulu-openjdk11 lilv"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
