PRGNAM="ZEsarUX"
VERSION="_version_"
HOMEPAGE="https://github.com/chernandezba/zesarux"
DOWNLOAD="https://github.com/chernandezba/zesarux/releases/download/ZEsarUX-_version_/ZEsarUX_src-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
