PRGNAM="standard-notes-bin"
VERSION="_version_"
HOMEPAGE="https://standardnotes.com/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/standardnotes/app/releases/download/%40standardnotes%2Fdesktop%40_version_/standard-notes-_version_-linux-amd64.deb"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
