PRGNAM="zmakebas"
VERSION="_version_"
HOMEPAGE="https://github.com/z00m128/zmakebas"
DOWNLOAD="https://github.com/z00m128/zmakebas/archive/_version_/zmakebas-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonio.leal@yahoo.com"
