PRGNAM="whalebird"
VERSION="_version_"
HOMEPAGE="https://whalebird.social"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/h3poteto/whalebird-desktop/releases/download/v_version_/Whalebird-_version_-linux-x86_64.rpm"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
