PRGNAM="zbom"
VERSION="_version_"
HOMEPAGE="https://sites.google.com/site/zeldabom/"
DOWNLOAD="https://github.com/wrightmat/zbom/archive/v_version_/zbom-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="solarus"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
