PRGNAM="python2-enlighten"
VERSION="_version_"
HOMEPAGE="https://github.com/Rockhopper-Technologies/enlighten"
DOWNLOAD="https://github.com/Rockhopper-Technologies/enlighten/archive/_version_/enlighten-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="wcwidth python2-blessed python2-prefixed"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
