PRGNAM="B-em"
VERSION="${_version_}"
HOMEPAGE="https://github.com/stardot/b-em"
DOWNLOAD="https://github.com/stardot/b-em/archive/${_commit_}/b-em-${_commit_}.tar.gz"
MD5SUM="${_md5_}"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="allegro"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
