PRGNAM="notepadqq"
VERSION="_fullversion_"
HOMEPAGE="https://notepadqq.com"
DOWNLOAD="https://github.com/notepadqq/notepadqq/archive/_commit_/notepadqq-_commit_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="libuchardet"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
