PRGNAM="notepadqq"
VERSION="_fullversion_"
HOMEPAGE="https://notepadqq.com"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/notepadqq/notepadqq/archive/_commit_/notepadqq-_commit_.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES="libuchardet qt6"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
