[Desktop Entry]
Name=Silk
GenericName=Silk
Comment=A practical frontend to multiple slackware package management tools
Exec=silk-shell
Icon=silk
Terminal=false
Type=Application
Categories=System;Utility;
StartupNotify=false
