PRGNAM="VASSAL"
VERSION="_version_"
HOMEPAGE="http://www.vassalengine.org/"
DOWNLOAD="https://github.com/vassalengine/vassal/releases/download/_version_/VASSAL-_version_-linux.tar.bz2"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="zulu-openjdk17"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
