PRGNAM="python3-icoextract"
VERSION="_version_"
HOMEPAGE="https://github.com/jlu5/icoextract"
DOWNLOAD="https://github.com/jlu5/icoextract/archive/_version_/icoextract-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="pefile"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
