PRGNAM="waterfox"
VERSION="_version_"
HOMEPAGE="https://www.waterfox.net/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://cdn1.waterfox.net/waterfox/releases/_version_/Linux_x86_64/waterfox-_version_.tar.bz2"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
