PRGNAM="catimg"
VERSION="_version_"
HOMEPAGE="https://posva.net/shell/retro/bash/2013/05/27/catimg"
DOWNLOAD="https://github.com/posva/catimg/archive/v_version_/catimg-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
