PRGNAM="opera"
VERSION="_version_"
HOMEPAGE="https://www.opera.com/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://get.geo.opera.com/pub/opera/desktop/_version_/linux/opera-stable__version__amd64.deb"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
