PRGNAM="aMule"
VERSION="_version_"
HOMEPAGE="https://amule-org.github.io/"
DOWNLOAD="https://github.com/amule-project/amule/archive/_version_/amule-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="cmake-opt wxWidgets libayatana-appindicator"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
