PRGNAM="wps-office"
VERSION="_version_.XA"
HOMEPAGE="https://linux.wps.com/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://wdl1.pcfg.cache.wpscdn.com/wpsdl/wpsoffice/download/linux/_nx_/wps-office__version_.XA_amd64.deb"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
