PRGNAM="doublecmd-qt5"
VERSION="_version_"
HOMEPAGE="https://doublecmd.sourceforge.io/"
DOWNLOAD="https://github.com/doublecmd/doublecmd/releases/download/v_version_/doublecmd-_version_-src.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="lazarus libqtpas"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
