PRGNAM="doublecmd-qt5"
VERSION="_version_"
HOMEPAGE="http://doublecmd.sourceforge.net/"
DOWNLOAD="https://downloads.sourceforge.net/project/doublecmd/Double%20Commander%20Source/doublecmd-_version_-src.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="lazarus libqtpas"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
