[Desktop Entry]
Name=BBC BASIC
GenericName=BBC BASIC
Comment=BBC BASIC for Linux
Icon=bbc256x.png
Exec=bbcsdl-launcher
Type=Application
Encoding=UTF-8
Terminal=false
Categories=Development
StartupNotify=false
