PRGNAM="critcl"
VERSION="_version_"
HOMEPAGE="https://andreas-kupries.github.io/critcl"
DOWNLOAD="https://github.com/andreas-kupries/critcl/archive/refs/tags/_version_/critcl-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="tcllib"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
