PRGNAM="solarus"
VERSION="_version_"
HOMEPAGE="https://www.solarus-games.org/"
DOWNLOAD="https://gitlab.com/solarus-games/solarus/-/archive/v_version_/solarus-v_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="glm libmodplug luajit physfs cmake-opt"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
