PRGNAM="qb64pe"
VERSION="_version_"
HOMEPAGE="https://qb64phoenix.com/"
DOWNLOAD="https://github.com/QB64-Phoenix-Edition/QB64pe/archive/v_version_/QB64pe-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
