PRGNAM="ecl"
VERSION="_version_"
HOMEPAGE="https://common-lisp.net/project/ecl/"
DOWNLOAD="https://common-lisp.net/project/ecl/static/files/release/ecl-_version_.tgz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
