PRGNAM="notepad++"
VERSION="_version_"
HOMEPAGE="https://notepad-plus-plus.org/"
DOWNLOAD="https://github.com/notepad-plus-plus/notepad-plus-plus/releases/download/v_version_/npp._version_.Installer.exe"
MD5SUM="_md51_"
DOWNLOAD_x86_64="https://github.com/notepad-plus-plus/notepad-plus-plus/releases/download/v_version_/npp._version_.Installer.x64.exe"
MD5SUM_x86_64="_md52_"
REQUIRES="wine"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
