PRGNAM="newsraft"
VERSION="_version_"
HOMEPAGE="https://newsraft.codeberg.page/"
DOWNLOAD="https://codeberg.org/newsraft/newsraft/archive/newsraft-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="gumbo-parser yajl scdoc"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
