PRGNAM="python3-boto3"
VERSION="_version_"
HOMEPAGE="https://aws.amazon.com/sdk-for-python/"
DOWNLOAD="https://github.com/boto/boto3/archive/_version_/boto3-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="s3transfer"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
