PRGNAM="python3-xapp"
VERSION="_version_"
HOMEPAGE="https://github.com/linuxmint/python3-xapp"
DOWNLOAD="https://github.com/linuxmint/python3-xapp/archive/_version_/python3-xapp-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
