PRGNAM="silk"
VERSION="_version_"
HOMEPAGE="https://github.com/antonioleal/silk"
DOWNLOAD="https://github.com/antonioleal/silk/archive/_version_/silk-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="slapt-src"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
