PRGNAM="librespeed-cli"
VERSION="_version_"
HOMEPAGE="https://github.com/librespeed/speedtest-cli"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/librespeed/speedtest-cli/releases/download/v_version_/librespeed-cli__version__linux_amd64.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
