PRGNAM="smartgit"
VERSION="_version_"
HOMEPAGE="https://www.syntevo.com/smartgit/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://download.smartgit.dev/smartgit/smartgit-_fileversion_-linux-amd64.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
