PRGNAM="smartgit"
VERSION="_version_"
HOMEPAGE="https://www.syntevo.com/smartgit/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://downloads.syntevo.com/downloads/smartgit/smartgit-linux-_fileversion_.tar.gz"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
