PRGNAM="mullvad-browser"
VERSION="_version_"
HOMEPAGE="https://mullvad.net/en/browser"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/mullvad/mullvad-browser/releases/download/_version_/mullvad-browser__version_-1_amd64.deb"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
