PRGNAM="google-chrome"
VERSION="_version_"
HOMEPAGE="http://www.google.com/chrome/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="http://dl.google.com/dl/linux/direct/google-chrome-stable_current_amd64.deb"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
