PRGNAM="python3-ordered-set"
VERSION="_version_"
HOMEPAGE="https://github.com/rspeer/ordered-set"
DOWNLOAD="https://github.com/rspeer/ordered-set/archive/release/_version_/ordered-set-release-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="python3-installer"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
