PRGNAM="depfinder"
VERSION="_version_"
HOMEPAGE="https://github.com/gapan/depfinder"
DOWNLOAD="https://github.com/gapan/depfinder/archive/_version_/depfinder-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
