PRGNAM="pasdoc"
VERSION="_version_"
HOMEPAGE="http://pasdoc.sipsolutions.net/"
DOWNLOAD="http://ponce.cc/slackware/sources/repo/pasdoc-_version_-src.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="fpc"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
