PRGNAM="pasdoc"
VERSION="_version_"
HOMEPAGE="https://github.com/pasdoc"
DOWNLOAD="https://github.com/pasdoc/pasdoc/archive/v_version_/pasdoc-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="fpc"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
