PRGNAM="qb64"
VERSION="_version_"
HOMEPAGE="https://qb64.com"
DOWNLOAD="https://github.com/QB64Official/qb64/archive/v_version_/qb64-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
