PRGNAM="arqiver"
VERSION="_version_"
HOMEPAGE="https://github.com/tsujan/Arqiver"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/tsujan/Arqiver/releases/download/V_version_/Arqiver-_version_.tar.xz"
MD5SUM_x86_64="_md5_"
REQUIRES="qt6"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
