PRGNAM="zxbasicstudio"
VERSION="_slackversion_"
HOMEPAGE="https://github.com/boriel-basic/ZXBasicStudio"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/boriel-basic/ZXBasicStudio/releases/download/v_version_/ZXBasicStudio-Linux-x64.v_version_.zip"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
