PRGNAM="zxbasicstudio"
VERSION="_version_"
HOMEPAGE="https://github.com/boriel-basic/ZXBasicStudio"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/boriel-basic/ZXBasicStudio/releases/download/v_version_/ZXBasicStudio-Linux64-v_version_-beta.zip"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
