PRGNAM="ishmael"
VERSION="_version_"
HOMEPAGE="https://codeberg.org/1-1sam/ishmael"
DOWNLOAD="https://cpan.metacpan.org/authors/id/S/SA/SAMYOUNG/EBook-Ishmael-_version_.tar.gz"
MD5SUM="_md5_"
DOWNLOAD_x86_64=""
MD5SUM_x86_64=""
REQUIRES="perl-Archive-Zip perl-File-Which perl-xml-libxml"
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
