PRGNAM="balena-etcher-bin"
VERSION="_version_"
HOMEPAGE="https://www.balena.io/etcher/"
DOWNLOAD="UNSUPPORTED"
MD5SUM=""
DOWNLOAD_x86_64="https://github.com/balena-io/etcher/releases/download/v_version_/balena-etcher__version__amd64.deb"
MD5SUM_x86_64="_md5_"
REQUIRES=""
MAINTAINER="Antonio Leal"
EMAIL="antonioleal@yahoo.com"
